---
layout: default
title: "Review Apps"
description: "Transform the way you and your team work"
twitter_image: '/images/tweets/review-apps.png'
suppress_header: true
extra_css:
  - solutions.css
extra_js:
  - solutions.js
---

.page-container.review-apps-container.text-center.animated
  .container
    .header-graphic
      = image_tag "/images/review-apps/icon-header-2x.png", class: "img-responsive"

    %h1.page-headline
      Review Apps
    %h4.subheader
      Transform the way you and your team work
    %a.btn.btn-lg.btn-red{ href: "/2016/11/22/introducing-review-apps/" } Read the blog post

.page-container.content-container.text-center.animated
  .container.steps
    %h2.page-headline.orange-title
      What is GitLab Review Apps?
    .feature-item.col-md-10.col-md-push-1
      = icon("review-apps/icon-benefit-1", "feature-icon", { label: "Real data on your project" })
      %h3
        Automatic Live Preview
      %p
        :markdown
          Code, commit, and preview your branch in a live environment.
          Review Apps automatically spin up dynamic environments for your merge requests.
    .feature-item.col-md-10.col-md-push-1
      = icon("review-apps/icon-benefit-2", "feature-icon", { label: "Real data on your project" })
      %h3
        One-click to Collaborate
      %p
        :markdown
          Designers and product managers won't need to check out your branch and run it in a staging environment.
          Simply send the team a link and let them click around.
    .feature-item.col-md-10.col-md-push-1
      = icon("review-apps/icon-benefit-3", "feature-icon", { label: "Built for managers and teams" })
      %h3
        Fully-Integrated
      %p
        :markdown
          With GitLab's code review, [built-in CI](/gitlab-ci/), and Review Apps, you can speed up your development process with one tool for coding, testing, and previewing your changes.
    .feature-item.col-md-10.col-md-push-1
      = icon("cycle-analytics/icon-benefit-3", "feature-icon", { label: "No setup required" })
      %h3
        Deployment Flexibility
      %p
        :markdown
          Deploy to Kubernetes, Heroku, FTP, and more. You can deploy anywhere that you can script with `.gitlab-ci.yml`
          and you have full control to deploy as many different kinds of review apps as your team needs.

.what-is.purple-section.text-center.animated
  .container
    %h2.purple-section-title
      Join our webcast!
    .purple-section-subtitle
      Hear more about Review Apps and the other new features in GitLab 8.14
    %a.featured-item-button.white-on-primary.btn-margin-top{ href: "https://page.gitlab.com/20161124_ReviewAppsWebcast_LandingPage.html" } Register Today

.page-container.content-container.white-bg.animated
  .container
    %h2.page-headline.text-center
      Review Apps
    %h3.getting-started-subheader.text-center
      :markdown
        Review Apps is available in GitLab.com, GitLab Community Edition, and GitLab Enterprise Edition.
    .row.row-eq-height
      .col-md-6.feature-item-graphic
        = image_tag "/images/review-apps/continuous-delivery-review-apps.svg", class: "img-responsive"
      .col-md-6.feature-item.step-content
        %p
          :markdown
            Review Apps transform the way you and your team work. For developers this
            means you can kick off your feedback process much sooner. Submit a merge request
            and preview your changes in a live environment. When you push to master,
            you'll know your changes have gone through CI testing as well as a live review
            where the team can make sure things work as planned.

            For designers, product managers, marketing counterparts, etc., giving feedback
            just got a lot easier. You won't have to check out branches or set up a staging
            environment to preview changes. With Review Apps, you click a link and see the live changes.
            Hopefully, this means you can give more timely and informed feedback.

.what-is.purple-section.text-center.animated
  .container
    %h2.purple-section-title
      Get Started with GitLab Review Apps
    .purple-section-subtitle
      Read more about this feature at:
    %a.featured-item-button.white-on-primary.btn-margin-top{ href: "/2016/11/22/introducing-review-apps/" } Blog Post
    %a.featured-item-button.white-on-primary.btn-margin-top{ href: "https://docs.gitlab.com/ce/ci/review_apps/" } Documentation
    %a.featured-item-button.white-on-primary.btn-margin-top{ href: "https://gitlab.com/gitlab-examples/review-apps-nginx" } Example project

= partial "includes/features/try-gitlab-ee"

.sticky-banner.js-sticky-banner.active
  .sticky-banner-content
    .sticky-banner-text
      %p.header-text
        Try GitLab Enterprise Edition risk-free for 30 days.
      %p.subheader-text
        No credit card required. Have questions?
        %a.contact-us{href: "https://about.gitlab.com/sales/"} Contact us.
    .action
      %a.btn.featured-item-button{ href: "/free-trial/" } Get Your Free Trial Today
